<!-- 
###########################################################################################
###########################################################################################
## Projeto: Nanook UFC
## Autor: Kaio Douglas Teófilo Rocha
## Email: kaiodtr@gmail.com
###########################################################################################
## Arquivo: Launcher do Robô + Laser + Hector Mapping
## Revisão: 1 [31/03/2017]
###########################################################################################
###########################################################################################
 -->

<launch>

  <!--- Base + Laser -->

  <include file="$(find nanook_ufc)/launch/nanook_laser_bringup.launch" />

  <!--- Hector Mapping -->

  <include file="$(find nanook_ufc)/launch/hector_mapping.launch" />

</launch>
